.fullpageContainer {
  /* position: absolute;
  top: 0;
  left: 0; */
  height: 100vh;
  width: 100%;
  background-color: #fff;
  /* background-color: rgba(0, 0, 0, 0.5); */

  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 999;
  /* justify-content: center; */
}

.loginbox {
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  /* box-shadow: 0 0 5px #ddd; */
  min-width: 400px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  color: var(--clr-primary-dgrey);
  padding: 15px 30px;
}

.loginbox > div {
  width: 100%;
  padding: 10px 0;
}

.loginbox label {
  font-weight: 500;
  margin-bottom: 3px;
}
.loginbox input {
  width: 100%;
  font-size: 16px;
}

.checkOutBtn > button {
  background-color: var(--clr-primary-lblue);
  border: none;
  padding: 10px 10px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.checkOutBtn > button:hover {
  transition-duration: 0.5s;
  background-color: var(--clr-primary-pblue);
}

#logEnd {
  text-align: center;
  /* border-top: 1px solid black; */
  /* padding: 20px; */
  /* width: 400px; */
  max-width: 400px;
  margin-top: 50px;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.14),
    rgba(0, 0, 0, 0.03) 3px,
    transparent
  );
  margin-bottom: -18px;
  /* height: 44px; */
  zoom: 1;
  color: var(--clr-primary-dgrey);
  font-size: small;
}
/* -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out; */
/* input[type="text"],
textarea {
  outline: none;
  padding: 10px 0px 10px 10px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #dddddd;
} */

input[type="text"]:focus,
textarea:focus {
  box-shadow: 0 0 5px rgb(31, 52, 95);
  /* padding: 10px 0px 10px 10px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1); */
}

.image-svg {
  width: 200px;
  height: auto;
  color: green;
  background-color: transparent;
}

#empty-btn2 {
  font-weight: 600;
  display: flex;
  justify-content: center;
  background: none;
  border-radius: 5px;
  background-color: white;
  border: 1px solid orange;
  color: var(--clr-primary-dgrey);
  width: 200px;
  padding: 10px 15px;
}

#empty-btn2:hover {
  background-color: rgb(223, 149, 13);
  color: white;
  transition-duration: 0.5s;
}

.danger {
  background-color: #e6aeb8;
  padding: 15px 10px !important;
  border-radius: 5px;
}

#Email, #password {
  border: 1px solid lightgrey;
}

.loginbox>div{
  margin-bottom: 10px;
}
