.footer-container {
  position: absolute;
  bottom: 0px;
  width:100%;
}
.footer ul {
  margin-bottom: 1.5em;
}

.footer ul > li {
  font-size: 13px;
  padding: 3px;
  cursor: pointer;
}

.footer ul > li:hover {
  font-weight: 500;
  color: grey;
}

.fcr {
  font-size: small;
}

.fa-facebook-square {
  color: white;
}

.fa-instagram {
  /* background: #125688; */
  color: white;
}

.fa-youtube {
  /* background: white;
  color: #bb0000; */
  color: white;
}

.socialM {
  margin-bottom: 0.5em;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.socialM a > span {
  font-size: x-large;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.socialM a {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin-left: 0.5em;
  color: white;
}



@media (max-width: 40em) {
 .footer-container{
    position: relative;
 }
}

